<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header_css::header('')"></head>
<body>
	<div id="eway" class="container-fluid" v-cloak>
		<table class="form" id="form">
			<tr>
				<td class="formTitle" style="width: 5%;">所&nbsp;属&nbsp;地<font face="宋体">*</font></td>
				<td class="formValue" style="width: 20%;">
					<select id="w_belong" onchange="loadarea()" v-model="workorder.belong" class="form-control" isvalid="yes" checkexpession="NotNull">
						<!-- <option value="1">重庆</option>
						<option value="2">农垦</option>
						<option value="3">河南</option>
						<option value="4">吉林</option>
						<option value="5">云南</option>
						<option value="6">河北</option> -->
					</select>
				</td>
	            <td class="formTitle" style="width: 5%;">区&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;县<font face="宋体">*</font></td>
	            <td class="formValue" style="width: 20%;">
					<select id="w_area" onchange="loadtown()" class="form-control" v-model="workorder.area" isvalid="yes" checkexpession="NotNull">
					</select>
	            </td>
	            <td class="formTitle" style="width: 5%;">乡镇街道</td>
	            <td class="formValue" style="width: 20%;">
					<select id="w_town" onchange="loadvillage()" class="form-control" v-model="workorder.town">
					</select>
	            </td>
	            <td class="formTitle" style="width: 5%;">村&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;社</td>
	            <td class="formValue" style="width: 20%;">
					<select id="w_village" class="form-control" v-model="workorder.village">
					</select>
	            </td>	
        	</tr>
			
			<tr>
	            <td class="formTitle">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名</td>
	            <td class="formValue">
					<input id="w_name" type="text" class="form-control" placeholder="姓名" v-model="workorder.name">
	            </td>
	            <td class="formTitle">所属项目<font face="宋体">*</font></td>
	            <td class="formValue">
					<select id="w_project" class="form-control" onchange="pro_choose()" v-model="workorder.project" isvalid="yes" checkexpession="NotNull">
						<!-- <option value="重庆养老系统">重庆养老系统</option>
						<option value="万州手持POS">万州手持POS</option>
						<option value="重庆手持POS">重庆手持POS</option>
						<option value="农垦社保">农垦社保</option>
						<option value="河北平台">河北平台</option>
						<option value="吉林社保">吉林社保</option>
						<option value="吉林计生">吉林计生</option>
						<option value="河南养老">河南养老</option>
						<option value="沈丘APP">沈丘APP</option>
						<option value="云南医保">云南医保</option>
						<option value="云南社保">云南社保</option>
						<option value="丽江社保">丽江社保</option>
						<option value="其他">其他</option> -->
					</select>
	            </td>
	            <td class="formTitle">问题类型<font face="宋体">*</font></td>
	            <td class="formValue">
	            	<select id="w_type" class="form-control" v-model="workorder.type" isvalid="yes" checkexpession="NotNull">
	            		<!-- <option value="网络问题">网络问题</option>
	            		<option value="系统问题">系统问题</option>
	            		<option value="数据问题">数据问题</option>
	            		<option value="设备问题">设备问题</option>
	            		<option value="业务交流">业务交流</option>
	            		<option value="其他">其他</option> -->
	            	</select>
	            </td>
	            <td class="formTitle">问题日期<font face="宋体">*</font></td>
	            <td class="formValue">
					<input id="w_occurDate" type="date" class="form-control" v-model="workorder.strdate" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>

	            <td class="formTitle">QQ&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号</td>
	            <td class="formValue">
					<input id="w_qq" type="text" class="form-control" placeholder="QQ号" v-model="workorder.qq">
	            </td>
	            <td class="formTitle">电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话</td>
	            <td class="formValue">
					<input id="w_tel" type="text" class="form-control" placeholder="电话" v-model="workorder.tel">
	            </td>
	            <td class="formTitle">问题来源<font face="宋体">*</font></td>
	            <td class="formValue">
	            	<select id="w_source" class="form-control" v-model="workorder.source" isvalid="yes" checkexpession="NotNull">
	            		<!-- <option value="QQ">QQ</option>
	            		<option value="电话">电话</option>
	            		<option value="问题平台">问题平台</option>
	            		<option value="微信">微信</option>
	            		<option value="其他">其他</option> -->
	            	</select>
	            </td>
	            <td class="formTitle">处理时长 <font face="宋体">*</font></td>
	            <td class="formValue">
					<!-- <input id="w_processTime" type="text" class="form-control" placeholder="处理时长 (单位：分钟)" v-model="workorder.processTime" isvalid="yes" checkexpession="NotNull"> -->
					<div style=":auto;padding:0px;" class="form-control">
						<select  id="st_protime" onchange="protime_Chooes()" style="width:100%;height:35px;">
							<option value="10">10</option>
							<option value="20">20</option>
							<option value="30">30</option>
							<option value="40">40</option>
							<option value="60">60</option>
						</select>
						<input id="w_processTime" type="text"  style="width:91%;height:35px;position:relative;top:-35px;" placeholder="处理时长 (单位：分钟)" v-model="workorder.description" isvalid="yes" checkexpession="NotNull"/>
					</div>
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">问题描述<font face="宋体">*</font></td>
	            <td class="formValue">
					<div style=":auto;padding:0px;" class="form-control">
						<select id="st_desc" onchange="desc_Chooes()" style="width:100%;height:35px;">
						</select>
						<input id="w_description" type="text"  style="width:91%;height:35px;position:relative;top:-35px;" placeholder="问题描述" v-model="workorder.description" isvalid="yes" checkexpession="NotNull"/>
					</div>
	            </td>
	            <td class="formTitle">处理方法<font face="宋体">*</font></td>
	            <td class="formValue">
					<div style=":auto;padding:0px;" class="form-control">
						<select  id="st_method" onchange="method_Chooes()" style="width:100%;height:35px;">
						</select>
						<input id="w_method" type="text" style="width:91%;height:35px;position:relative;top:-35px;" placeholder="处理方法" v-model="workorder.method" isvalid="yes" checkexpession="NotNull"/>
					</div>
	            </td>
	            <td class="formTitle">处理方式<font face="宋体">*</font></td>
	            <td class="formValue">
					<select id="w_manner" class="form-control" v-model="workorder.manner" isvalid="yes" checkexpession="NotNull">
						<!-- <option value="QQ指导">QQ指导</option>
						<option value="电话指导">电话指导</option>
						<option value="远程支持">远程支持</option>
						<option value="上门解决">上门解决</option>
						<option value="后台处理">后台处理</option>
						<option value="其他方式">其他方式</option> -->
					</select>
	            </td>
	            <td class="formTitle">状&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;态<font face="宋体">*</font></td>
	            <td class="formValue">
	            	<select id="w_status" class="form-control" v-model="workorder.status" isvalid="yes" checkexpession="NotNull">
	            		<!-- <option value="1">已解决</option>
	            		<option value="2">未解决</option> -->
	            	</select>
	            </td>
        	</tr>
        	<tr>
        		<td class="formTitle">异常图片</td>
        		<td class="formValue">
        			<input type="file" id="errorimg" onchange="changimg(event)">
        		</td>
        		<td colspan="6">
        		</td>
        	</tr>
			<tr>
	            <td colspan="8" style="text-align: center;">
	            	<input onclick="addWorkorderSubmit()" type="button" class="btn btn-primary" value="保  存" style="width:100px;font-size:16px;margin-top: 30px;"/>
	            	<input onclick="inpuntReset()" type="button" class="btn btn-primary" value="重  置" style="width:100px;font-size:16px;margin-left:100px;margin-top: 30px;"/>
	            </td>
        	</tr>

		</table>

	</div>
	<div th:include="include/footer_js::footer"></div>
	<script th:src="@{/js/modules/cqwork/add.js}"></script>
</body>
</html>