<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header_css::header('')"></head>
<body>
	<div id="eway" class="container-fluid" v-cloak>
		<table class="form" id="form">
			<tr>
	            <td class="formTitle">区县<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="区县" v-model="workorder.area" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">乡镇街道<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="乡镇街道" v-model="workorder.town" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">村社<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="村社" v-model="workorder.village" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">姓名<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="姓名" v-model="workorder.name" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">所属项目<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="所属项目" v-model="workorder.project" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">问题类型<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="问题类型" v-model="workorder.type" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">问题日期<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="问题日期" v-model="workorder.occurDate" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">处理完成时间<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="处理完成时间" v-model="workorder.overTime" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">qq号<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="qq号" v-model="workorder.qq" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">电话<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="电话" v-model="workorder.tel" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">问题描述<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="问题描述" v-model="workorder.description" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">处理方法<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="处理方法" v-model="workorder.method" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">处理方式<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="处理方式" v-model="workorder.manner" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">问题来源<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="问题来源" v-model="workorder.source" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">处理时长 (分钟数)<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="处理时长 (分钟数)" v-model="workorder.processTime" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">状态 1.已解决 2.未解决<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="状态 1.已解决 2.未解决" v-model="workorder.status" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">处理人姓名<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="处理人姓名" v-model="workorder.processUser" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
		</table>
	</div>
	<div th:include="include/footer_js::footer"></div>
	<script th:src="@{/js/modules/sys/cqwork/edit.js}"></script>
</body>
</html>