<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ewaytek.edf.web.modules.pro.dao.ProjectQuestionMapper">
	
	<select id="listForPage" resultType="com.ewaytek.edf.web.modules.pro.entity.ProjectQuestionEntity">
		SELECT
			q.pro_que_id, 
			q.pro_id, 
			q.user_id, 
			q.pro_que_hopedate, 
			q.pro_que_enddate, 
			q.pro_que_status, 
			q.pro_que_question, 
			q.user_id_create, 
			q.gmt_create, 
			q.gmt_modified,
			p.pro_name,
			u.username,
			(select username  from sys_user us where  us.user_id=q.user_id_create ) as user_create_name
		FROM
			project_question q
			Left JOIN
			project p
			ON
			q.pro_id=p.pro_id
			Left JOIN
			sys_user u
			ON
			q.user_id=u.user_id
		WHERE
			q.user_id = #{userId}
		ORDER BY
			pro_que_id DESC
	</select>
	
	<insert id="save">
		INSERT INTO project_question (
			`pro_id`, 
			`user_id`, 
			`pro_que_hopedate`, 
			`pro_que_enddate`, 
			`pro_que_status`, 
			`pro_que_question`, 
			`user_id_create`, 
			`gmt_create`, 
			`gmt_modified`
		)
		VALUES (
			#{proId}, 
			#{userId}, 
			#{proQueHopedate}, 
			#{proQueEnddate}, 
			#{proQueStatus}, 
			#{proQueQuestion}, 
			#{userIdCreate}, 
			#{gmtCreate}, 
			#{gmtModified}
		)
	</insert>
	
	<select id="getObjectById" resultType="com.ewaytek.edf.web.modules.pro.entity.ProjectQuestionEntity">
		SELECT
			`pro_que_id`, 
			`pro_id`, 
			`user_id`, 
			`pro_que_hopedate`, 
			`pro_que_enddate`, 
			`pro_que_status`, 
			`pro_que_question`, 
			`user_id_create`, 
			`gmt_create`, 
			`gmt_modified`
		FROM
			project_question
		WHERE
			pro_que_id = #{proQueId}
	</select>
	
	<update id="update">
		UPDATE project_question
	 	<set>
			<if test="proId != null">`pro_id` = #{proId}, </if>
			<if test="userId != null">`user_id` = #{userId}, </if>
			<if test="proQueHopedate != null">`pro_que_hopedate` = #{proQueHopedate}, </if>
			<if test="proQueEnddate != null">`pro_que_enddate` = #{proQueEnddate}, </if>
			<if test="proQueStatus != null">`pro_que_status` = #{proQueStatus}, </if>
			<if test="proQueQuestion != null">`pro_que_question` = #{proQueQuestion}, </if>
			<if test="userIdCreate != null">`user_id_create` = #{userIdCreate}, </if>
			<if test="gmtCreate != null">`gmt_create` = #{gmtCreate}, </if>
			<if test="gmtModified != null">`gmt_modified` = #{gmtModified}</if>
		</set>
		WHERE
			pro_que_id = #{proQueId}
	</update>
	
	<delete id="batchRemove">
		DELETE
		FROM
			project_question
		WHERE
			pro_que_id IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>