<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header_css::header('设备表')"></head>
<body>
	<div id="eway" class="container-fluid" v-cloak>
		<table class="form" id="form">
			<tr>
	            <td class="formTitle">设备名称<font face="宋体"></font></td>
	            <td class="formValue">
	            	 <div class="form-control" readonly="readonly">
			     		<input type="text" class="form-control" placeholder="设备名称" id="equName" style="width:80%;height:32px;float:left;border:0;" readonly="readonly">
			            <input type="button" class="btn btn-primary" value="请选择设备" onclick="loadEqu()" style="width:20%;height:33px;">
		        	  </div>
		        	  <div style="display: none;clear: both;"></div>
	            </td>
        	</tr>
        	<tr>
	            <td class="formTitle">规格型号<font face="宋体"></font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="厂商货号" isvalid="yes" id="styleId" readonly="readonly">
	            </td>
        	</tr>
        	<tr>
	            <td class="formTitle">库存地点<font face="宋体"></font></td>
	            <td class="formValue">
	           		<input type="text" id="equ_site" class="form-control" placeholder="库存地点" isvalid="yes" readonly="readonly">
	            </td>
        	</tr>
        	<tr>
	            <td class="formTitle">设备类型<font face="宋体"></font></td>
	            <td class="formValue">
	           		<input type="text" class="form-control" placeholder="设备类型" isvalid="yes" readonly="readonly" id="tetype" >
	            </td>
        	</tr>
        	<tr>
	            <td class="formTitle">库存数量<font face="宋体"></font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="库存数量" isvalid="yes" id="equ_Count" readonly="readonly">
	            </td>
        	</tr>
        	<tr>
	            <td class="formTitle">发货数量<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="发货数量" v-model="equipment.equCount" isvalid="yes" id="out_count" checkexpession="NotNull" onclick="isSelect()">
	            </td>
        	</tr>
        	<tr>
	            <td class="formTitle">单&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;价<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="单价" v-model="equipment.equPrice" isvalid="yes" id="price" checkexpession="NotNull">
	            </td>
        	</tr>
        	<tr>
	            <td class="formTitle">开票金额<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="开票 金额" isvalid="yes" v-model="equipment.invoiceMoney" id="money" checkexpession="NotNull" onclick="valInvoiceMoney()">
	            </td>
        	</tr>
        	<tr>
	            <td class="formTitle">客户名称<font face="宋体">*</font></td>
	            <td class="formValue">
					<select class="form-control" id="customer" v-model="equipment.cusName"  isvalid="yes" checkexpession="NotNull"> 
					</select>
	            </td>
        	</tr>
        	<tr>
	            <td class="formTitle">收货单位<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="收货单位" isvalid="yes" v-model="equipment.unit" id="" checkexpession="NotNull">
	            </td>
        	</tr>
        	<tr>
	            <td class="formTitle">发货时间<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="date" class="form-control" v-model="equipment.optionDate" isvalid="yes" checkexpession="NotNull" id="option_date">
	            </td>
        	</tr>
        	<tr>
	            <td class="formTitle">过期时间<font face="宋体"></font></td>
	            <td class="formValue">
					<input type="date" class="form-control" v-model="equipment.overdueDatetime" isvalid="yes">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">备&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注<font face="宋体"></font></td>
	            <td class="formValue">
					<textarea rows="3" class="form-control" placeholder="备注" v-model="equipment.remark" isvalid="yes">
					</textarea>
	            </td>
        	</tr>
        	<tr style="display: none;">
	            <td class="formTitle">equeid<font face="宋体"></font></td>
	            <td class="formValue">
					<input type="text" class="form-control" v-model="equipment.equId" id="equ_id" isvalid="yes">
	            </td>
        	</tr>
		</table>
	</div>
	
	<div class="modal fade" id="loadEqu" role="dialog"  style="width: 80%;height:450px;margin-left: 10%;margin-top:5%;background-color: #FFFFFF;">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content" style="position: absolute;margin-top:0;">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title">设备信息</h4>
	      </div>
	      <div class="modal-body" style="overflow: auto;height: 325px">
				<table id="dataGrid"></table>
	      </div>
	      <div class="modal-footer" style="position: absolute;left: 0px;top:370px;text-align: center;border: 0px solid red;width: 100%;">
	         <button type="button" class="btn btn-primary" id="equSure">确定</button>
	         <button type="button" class="btn btn-default" data-dismiss="modal">关 闭</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	<div class="modal fade" id="malert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="width: 40%;height: 40%;margin-left:30%;margin-top:20%;background-color:#FFFFFF;">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title">提示信息：</h4>
	      </div>
	      <div class="modal-body">
	      	<span id="s_alert"></span>
	      </div>
	      <div class="modal-footer">
	         <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	<div th:include="include/footer_js::footer"></div>
	<script th:src="@{/js/modules/equip/equout.js}"></script>
</body>
</html>