<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ewaytek.edf.web.modules.supplier.dao.SupplierMapper">
	
	<select id="listForPage" resultType="com.ewaytek.edf.web.modules.supplier.entity.SupplierEntity">
		SELECT
			`sup_id`, 
			`sup_name`, 
			`sup_address`, 
			`sup_telephone`
		FROM
			supplier
		ORDER BY
			sup_id DESC
	</select>
	
	<select id="list" resultType="com.ewaytek.edf.web.modules.supplier.entity.SupplierEntity">
		SELECT
			`sup_id`, 
			`sup_name`, 
			`sup_address`, 
			`sup_telephone`
		FROM
			supplier
		ORDER BY
			sup_id DESC
	</select>
	
	<insert id="save">
		INSERT INTO supplier (
			`sup_name`, 
			`sup_address`, 
			`sup_telephone`
		)
		VALUES (
			#{supName}, 
			#{supAddress}, 
			#{supTelephone}
		)
	</insert>
	
	<select id="getObjectById" resultType="com.ewaytek.edf.web.modules.supplier.entity.SupplierEntity">
		SELECT
			`sup_id`, 
			`sup_name`, 
			`sup_address`, 
			`sup_telephone`
		FROM
			supplier
		WHERE
			sup_id = #{supId}
	</select>
	
	<update id="update">
		UPDATE supplier
	 	<set>
			<if test="supName != null">`sup_name` = #{supName}, </if>
			<if test="supAddress != null">`sup_address` = #{supAddress}, </if>
			<if test="supTelephone != null">`sup_telephone` = #{supTelephone}</if>
		</set>
		WHERE
			sup_id = #{supId}
	</update>
	
	<delete id="batchRemove">
		DELETE
		FROM
			supplier
		WHERE
			sup_id IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>