<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header_css::header('系统数据字典表')"></head>
<body>
	<div id="eway" class="container-fluid" v-cloak>
		<table class="form" id="form">
			<tr>
	            <td class="formTitle">数据值<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="数据值" v-model="sysDict.value" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">标签名<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="标签名" v-model="sysDict.label" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">数据类型<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="数据类型" v-model="sysDict.type" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">数据描述<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="数据描述" v-model="sysDict.description" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">排序<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="排序" v-model="sysDict.sort" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">数据状态<font face="宋体">*</font></td>
	            <td class="formValue">
					<select class="form-control" v-model="sysDict.state" id="datastat" isvalid="yes" checkexpession="NotNull">
	          		</select>
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">备注<font face="宋体"></font></td>
	            <td class="formValue">
					<textarea rows="3" class="form-control" placeholder="备注" v-model="sysDict.remark" isvalid="yes"></textarea>
	            </td>
        	</tr>
		</table>
	</div>
	<div th:include="include/footer_js::footer"></div>
	<script th:src="@{/js/modules/dict/edit.js}"></script>
</body>
</html>