<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header_css::header('报销单表')"></head>
<body>
<div id="eway" class="container-fluid" v-cloak>
	<div class="row">
		<div class="col-md-4 form-inline pull-left">
			<div class="form-group">
		    	<input v-model="keyword" @keyup.enter="load" type="text" class="form-control" placeholder="请输入项目关键字" style="width: 220px;" />
			</div>
			<div class="form-group">
			    <a class="btn btn-primary" @click="load"><i class="fa fa-search"></i>&nbsp;查询</a>
			</div>
		</div>
		<div class="col-md-8">
			<div class="btn-toolbar pull-right">
				<div class="btn-group"> 
					<a v-if="hasPermission('exAccount:find')" class="btn btn-default" @click="print"><i class="fa fa-table"></i>&nbsp;预览导出</a>
		            <a v-if="hasPermission('exAccount:find')" class="btn btn-default" @click="find"><i class="fa fa-table"></i>&nbsp;查看详情</a>
		        </div>
	        </div>
		</div>
	</div>
	<div class="row">
		<table id="dataGrid"></table>
	</div>
</div>
<div th:include="include/footer_js::footer"></div>
<script th:src="@{/js/modules/expaccount/checklist.js}"></script>
</body>
</html>