<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header_css::header('编辑-用户管理')"></head>
<body>
	<div id="eway" class="container-fluid" v-cloak>
		<table class="form" id="form">
			<tr>
	            <td class="formTitle">用户名<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="用户名" v-model="user.username" isvalid="yes" checkexpession="NotNull" readonly="readonly">
	            </td>
	            <td class="formTitle">密码<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="******"   checkexpession="NotNull"   readonly="readonly">
	            </td>
        	</tr>
        	<tr>
        		<td class="formTitle">登录名</td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="登录名" v-model="user.userLogno">
	            </td>
        		<td class="formTitle">邮箱</td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="邮箱" v-model="user.email">
	            </td>
        	</tr>
        	<tr>
	            <td class="formTitle">手机号</td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="手机号" v-model="user.mobile">
	            </td>
	            <td class="formTitle">员工属地<font face="宋体">*</font></td>
	            <td class="formValue">
					<select id="userTerritorial" class="form-control" v-model="user.userTerritorial">
						<option v-for="item in territorialList" v-bind:value="item.value">{{item.label}}</option>
					</select>
	            </td>
        	</tr>
        	
        	<tr>
	            <td class="formTitle">紧急电话</td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="紧急电话" v-model="user.contactTelephone">
	            </td>
        		<td class="formTitle">紧急联系人</td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="紧急联系人" v-model="user.emergencyContact">
	            </td>	
        	</tr>
        	
	        <tr>
        		<td class="formTitle">报销审批1<font face="宋体">*</font></td>
	            <td class="formValue">
					<select id="auditor" class="form-control" v-model="user.auditor">
						<option v-for="item in userList" v-bind:value="item.userId">{{item.username}}</option>
					</select>
	            </td>
	            <td class="formTitle">报销审批2<font face="宋体">*</font></td>
	            <td class="formValue">
					<select id="auditor1" class="form-control" v-model="user.auditorTwo">
						<option v-for="item in userList" v-bind:value="item.userId">{{item.username}}</option>
					</select>
	            </td>
        	</tr>
        	<tr>
	            <td class="formTitle">所属部门<font face="宋体">*</font></td>
	            <td class="formValue">
					<select id="depId"   class="form-control" v-model="user.depId">
						<option v-for="item in departList" v-bind:value="item.depId">{{item.depName}}</option>
					</select>
	            </td>
	            <td class="formTitle">直接上级<font face="宋体">*</font></td>
	            <td class="formValue">
					<select id="userName" class="form-control" v-model="user.superior">
						<option v-for="item in userList" v-bind:value="item.userId">{{item.username}}</option>
					</select>
	            </td>
        	</tr>
        	<tr>
	            <td class="formTitle">员工级别<font face="宋体">*</font></td>
	            <td class="formValue">
					<select id="userLevel" class="form-control" v-model="user.userLevel">
						<option v-for="item in levelList" v-bind:value="item.levelId">{{item.levelValue}}-{{item.levelName}}</option>
					</select>
	            </td>
	            
	        </tr>
        	<tr>
        		<td class="formTitle">角色</td>
	            <td class="formValue" colspan="3">
					<label v-for="role in roleList" class="checkbox-inline">
					  <input type="checkbox" v-bind:value="role.roleId" v-model="user.roleIdList">{{role.roleName}}</input>
					</label>
	            </td>
        	</tr>
			<tr>
				<td class="formTitle">状态</td>
				<td class="formValue" colspan="3">
					<label class="radio-inline">
						<input type="radio" name="status" value="0" v-model="user.status"/> 禁用
					</label>
					<label class="radio-inline">
						<input type="radio" name="status" value="1" v-model="user.status"/> 正常
					</label>
				</td>
			</tr>
		</table>
	</div>
	<div th:include="include/footer_js::footer"></div>
	<script th:src="@{/js/modules/user/edit.js}"></script>
</body>
</html>